body{
  max-width: 1024px;
}

table{
  width:100%;
  text-align:center;
  // padding:50px 0px 50px 0px;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
}

.endpoint{
  padding: 50px 50px 50px 50px;
}

.ip-useage{
  
}

.text-left{
  text-align:left;
}

.text-right{
  text-align:right;
}
